

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
}

.cupom{
    background-color: rgb(206, 206, 249);
    display: flex;
    align-items: center;
    position: relative;
    height: 30px;
    padding: 10px;
    margin: 1px;
    font-weight: bold; 
    padding-left: 100px; 
}

.search{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    background-color: white
}
.input{
    
    display:flex;
    align-items: center;
    border-radius: 10px;
    margin-left: 200px;
}
.logo{
    display: flex;
    align-items: flex-start;
    margin-left: 0px;
    width: 60px;
    
}
.carrinho{
    display: flex;
    align-items: flex-end;
    width: 40px;
    background-color: white;
    margin-left: 170px;
}

.usuario{
    display: flex;
    align-items: flex-end;
    width: 30px;
    height: 25px;
    margin-left: 10px;
}
.mobile-menu{
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 4px;
    background:rgba(0, 0, 0, 0.775);
    margin: 5px;
    display: flex;
    margin-left: 0px;

}
